<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link
      rel="icon"
      href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzklEQVRIDc3SsQnCUBQE0NyaJBA0V4mJjHGA2Z7OQYXKFWlE3im0BqwFiNcDcwFwNGgGwBd5AnMC9wDWwEeKoh7e8gT85mB4/x9vjh3DKoMZGGX4gAXXwE4h6OEA6AMcAbwhqAJ8BE0AocAo4Ca4BcwGeACsA8wDCAG+AjcCS4h9Gh+Z6A1bDFGBm9AG2AZqAcQCtwC+Aq+D4gAswFsAi8FdwAa8CvcBbYBvoCdYBC+CPiCHwExgB/QG3AHuAWuACfgN9APMBSaEeAgZFGOMqgMzIQ+4A0gBegG2ACXAfIBuAEsAQXABpwFvAJcBbYAqgJwAn8BXkA3AG+AdEAs+ewT9BjDEd1lUn5dDAAAAAElFTkSuQmCC"
      type="image/png"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Analyzer</title>
  </head>

  <body>
    <div class="container">
      <div id="overlay" style="display: none">
        <div class="loader"></div>
        <p id="loading-message">Carregando...</p>
      </div>

      <div id="errorModal" class="error-modal">
        <div class="error-modal-content">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="48"
            height="48"
            viewBox="0 0 48 48"
          >
            <path
              fill="#FF0000"
              d="M24 48C10.75 48 0 37.25 0 24S10.75 0 24 0s24 10.75 24 24-10.75 24-24 24zm0-44C11.85 4 4 11.85 4 24s7.85 20 20 20 20-7.85 20-20S36.15 4 24 4zm.25 7.5h-.5c-.828 0-1.5.672-1.5 1.5v16c0 .828.672 1.5 1.5 1.5h.5c.828 0 1.5-.672 1.5-1.5v-16c0-.828-.672-1.5-1.5-1.5zm.25 25.5c-.828 0-1.5.672-1.5 1.5s.672 1.5 1.5 1.5 1.5-.672 1.5-1.5-.672-1.5-1.5-1.5z"
            />
          </svg>
          <p id="errorMessage"></p>
          <button onclick="hideErrorModal()">OK</button>
        </div>
      </div>

      <h2>Busque pelo seu alimento</h2>
      <div class="search-container">
        <input
          id="search-input"
          type="text"
          class="search-input"
          placeholder="Ex: Banana, Aveia, etc..."
        />
        <button class="search-button" onclick="FoodController.searchByInput()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M0 0h24v24H0z" fill="none" />
            <path
              d="M15.5 14h-.79l-.28-.27A6.47 6.47 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.68 0 3.22-.64 4.37-1.69l.27.28v.79l5 4.99L20.49 20l-4.99-5zm-6 0A4.5 4.5 0 1 1 14 9.5 4.5 4.5 0 0 1 9.5 14z"
            />
          </svg>
        </button>
      </div>

      <h3>Ou</h3>

      <h2>Escaneie com a câmera</h2>
      <video id="video" autoplay></video>
      <div id="capture">
        <button onclick="Camera.scan()">Escanear</button>
      </div>
      <div
        id="food-main-info-content"
        style="display: none"
        class="food-name"
      ></div>
      <div id="tableContainer">
        <div id="empty-table-message">Sem resultados por enquanto</div>
        <div id="food-main-info"></div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
